body{
     margin: 0px;
}
a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: red;
    height: 50px;
}
.NI1{
    display: flex;
}
.NI2{
    display: flex;
    justify-content: flex-end;
}
.NI3{
    display: flex;
    justify-content: flex-end;
}
.NI4{
    display: flex;
    justify-content: flex-end;
}
.NI5{
    display: flex;
    justify-content: flex-end;
}
.container{
    display: flex;
}
.image{
    width: auto;
}
.main-content{
    display: flex;
    flex-direction:column;
    justify-content:center;
    width: 500px;
    height: 600px;
    margin: 0em 5em 0em 5em;
    
}
.header{
    margin-bottom: 0px;
}
.header-info{
    margin-top: 0px;
}
.blog-link{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 200px;
    height: 50px;
    background-color: blue;
}
.work{
    margin: 0px;
}
.w-child2{
    margin-bottom: 16px;
}
.education{
    margin: 0px;
}
.Bubble-link {
    list-style-type: none;
    flex-direction: row;
}
.Link1{
    width: 36px;
}
.Link2{
    width: 36px;
}
.Link3{
    width: 36px;
}
.Link4{
    width: 36px;
}

